<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7Bo2R0E0Zvm8xvVxY2sxfIknWUkytDV4</string>
	<key>GCM_SENDER_ID</key>
	<string>341156357073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MWN.MyWorldView</string>
	<key>PROJECT_ID</key>
	<string>mwn-my-world-view</string>
	<key>STORAGE_BUCKET</key>
	<string>mwn-my-world-view.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341156357073:ios:1a0f94ec32a4f9c174b6f0</string>
</dict>
</plist>